@import 'tailwindcss';
@import 'tw-animate-css';
@import './pages/FiltersModal/FilterModal.styles.css';

@theme {
	--font-inter: 'Inter', sans-serif;
	--font-jakarta: 'Plus Jakarta Sans', @import 'tailwindcss';

	--color-green-100: #c7e9cc;
	--color-yellow-100: #ffeba8;
	--color-blue-100: #d5e8ff;
	--color-white: #fff;
	--color-primary-100: #078691;
	--color-red-100: #facdd4;

	--color-buttons-brand-50: #ffb17a;
	--color-buttons-brand-100: #ff9e59;
	--color-buttons-brand-200: #ff5f00;
	--color-buttons-brand-300: #ff3d00;

	--color-ui-primary: #6750a3;
	--color-black-black: #000;

	--color-black-grey-100: #f4f4f4;
	--color-black-grey-200: #b4b4b4;
	--color-black-grey-300: #7e7e7e;
	--color-black-grey-400: #474747;
	--color-black-grey-500: #31393c;

	--shadow-modal: 0 2px 12px 0 rgba(0, 0, 0, 0.14);
}
